.form {
    background-color: rgba(188, 143, 143, 0.815);
    max-width: 400px;
    max-height: auto;
    /* czy da się dopasować rozmiar tego różowego bloku w zależności od tego jak wielkie są rzeczy w środku? (czyli naj np. zmienię czcionkę na dużo większą) */
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: hsl(0, 25%, 60%) solid 3px;
    border-radius: 10%;
}

.form__fieldset{
    padding: 20px 20px 0px;
    
}
.form__legend {
    text-align: center;
}

.form__title {
    font-size: 20px;
}

.form__buttonArea {
    display: flex;
    justify-content: center;
    /* czy da się inaczej wyśrodkwać przycisk button nie używając flexa? */
    padding: 10px;
}

.form__button {
    border: hsl(0, 0%, 20%) solid 1px;
    border-radius: 5%;
    width: 30%;
    margin: 0;
    background-color: rgb(12, 12, 11);
    color: cornsilk
}