html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
}

.backgroundImage {
    background-image: url("../images/currency.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}